<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>

  <!--Reerência: http://leonelfraga.com/neomatrixtech/posts/2016/06/acesso-webservice-cadsus-dotnet-csharp.html-->
  <!--Configurações de autenticação em Homologação. Definidas aqui apenas para evitar hardcoded na classe.-->
  <appSettings>
    <add key="ClientCredentials.UserName.UserName" value="CADSUS.CNS.PDQ.PUBLICO"/>
    <add key="ClientCredentials.UserName.Password" value="kUXNmiiii#RDdlOELdoe00966"/>    
    <add key="CNESUsuario.CNES" value="6963447"/>
    <add key="CNESUsuario.Usuario" value="LEONARDO"/>
    <add key="CNESUsuario.Senha" value="?"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>


  <system.serviceModel>
    <bindings>

      <!--Manter somente o binding para a versão SOAP11
      <basicHttpBinding>
        <binding name="CadsusServiceSOAP11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="CadsusServiceSOAP11Binding1" />
      </basicHttpBinding>
      -->
      <customBinding>
        <binding name="CadsusServiceSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          
          <!--
            Adiciona a configuração de segurança para a homologação, que deve autenticar o cliente usando o token de usuário que vem na assinatura da mensagem.
            * Referência: https://msdn.microsoft.com/en-us/library/aa751836(v=vs.110).aspx
                
            "Obtém ou define um valor que indica se WCF pode enviar e receber respostas desprotegidas a solicitações protegidas."
            * Referência: https://msdn.microsoft.com/pt-br/library/system.servicemodel.channels.securitybindingelement.enableunsecuredresponse(v=vs.110).aspx
          -->
          <security authenticationMode="UserNameOverTransport" enableUnsecuredResponse="true"></security>
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="https://servicoshm.saude.gov.br/cadsus/CadsusService/v5r0"
          binding="customBinding" bindingConfiguration="CadsusServiceSOAP12Binding"
          contract="CadsusService.CadsusServicePortType" name="CadsusServicePort" />
      <!--Comentar o endpoint do SOAP11 para evitar erro de endpoint duplicado
      <endpoint address="https://servicoshm.saude.gov.br/cadsus/CadsusService/v5r0"
          binding="basicHttpBinding" bindingConfiguration="CadsusServiceSOAP11Binding"
          contract="CadsusService.CadsusServicePortType" name="CadsusServiceSOAP11Port" />
      -->
    </client>

  </system.serviceModel>
</configuration>