<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>

  <!--Reerência: http://leonelfraga.com/neomatrixtech/posts/2016/06/acesso-webservice-cadsus-dotnet-csharp.html-->
  <!--Configurações de autenticação em Homologação. Definidas aqui apenas para evitar hardcoded na classe.-->
  <appSettings>
    <add key="ClientCredentials.UserName.UserName" value="CADSUS.CNS.PDQ.PUBLICO"/>
    <add key="ClientCredentials.UserName.Password" value="kUXNmiiii#RDdlOELdoe00966"/>    
    <add key="CNESUsuario.CNES" value="6963447"/>
    <add key="CNESUsuario.Usuario" value="LEONARDO"/>
    <add key="CNESUsuario.Senha" value="?"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>


  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CadsusServiceSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <security enableUnsecuredResponse="true" authenticationMode="UserNameOverTransport" />
          <httpsTransport />
        </binding>
        <binding name="AuditoriaCadsusServiceSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <security enableUnsecuredResponse="true" authenticationMode="UserNameOverTransport" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="https://servicoshm.saude.gov.br/cadsus/CadsusService/v5r0"
        binding="customBinding" bindingConfiguration="CadsusServiceSOAP12Binding"
        contract="CadsusService.CadsusServicePortType" name="CadsusServicePort" />
      <endpoint address="https://servicoshm.saude.gov.br/cadsus/AuditoriaCadsusService/v5r0"
        binding="customBinding" bindingConfiguration="AuditoriaCadsusServiceSOAP12Binding"
        contract="AuditoriaCadsusService.AuditoriaCadsusServicePortType"
        name="AuditoriaCadsusServicePort" />      
    </client>

  </system.serviceModel>
</configuration>